
// Breakpoints
$mobile-breakpoint: 768px;
$tablet-breakpoint: 992px;
$desktop-breakpoint: 1366px;
$large-desktop-breakpoint: 1920px;
$xlarge-desktop-breakpoint: 2560px;

// Content Max Width
$content-max-width: 1227px;

// Search Result Box Height
$result-box-height: 135px;

// --------------------------------

// Colors
$accent-color: #7639e2;
$primary-color: #7639e2;

// --------------------------------



